@import url('https://fonts.googleapis.com/css?family=Cairo|Ubuntu');

body{
	background-color: lavender;

}
h1, p, h2{
	color: purple;
}
h1, h2{
	text-align: center;
	text-decoration: underline;
	font-family: 'Cairo';
	text-transform: uppercase;
}
p{
	text-align: center;
	font-family: 'Ubuntu';
	


}
ul, li{
	color: purple;
	font-family: "Ubuntu";
	font-weight: bold;
	
}
#slogan{
	font-style: italic;

}

img{
	margin: auto;
	display: block;
}

header{
	background-color: #FFED74;
}

nav{
	background-color: #E8C66A;
}

aside{
	background-color: #FFC675;
}

article{
	background-color: #E89C6C;
}

footer{
	background-color: #FF957E;
}

div/ section{
	background-color: #FFE2B8;
}